.profile {
  width: 300px;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #ebebeb;
  box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.new {
  position: absolute;
  left: 70%;
  top: 10%;
  padding: 0.2rem 0.5rem;
  color: #fff;
  background-color: mediumseagreen;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
